Package: com.todayios-cydia.woodpecker
Name: TSWoodPeckeriOSLoader
Version: 1.3.4
Description: WoodPeckeriOS 加载插件, 动态库版本: 1.3.3 rootless
Depiction: https://todayios-cydia.github.io/cydia/depictions/?p=com.todayios-cydia.woodpecker
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm64
Author: manajay
dev: 
Homepage: https://todayios-cydia.github.io/cydia/
Maintainer: manajay <me@todayios.com>
Icon: file:///WoodPeckerPrefs/Resources/icon56.png

